#following are ignored files
COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
cgi/Makefile
cgi/Makefile.in
cgi/lib/Makefile
cgi/lib/Makefile.in
cgi/lib/src/.deps/
cgi/lib/src/Makefile
cgi/lib/src/Makefile.in
cgi/lib/src/*.a
cgi/lib/src/*.o
cgi/main/Makefile
cgi/main/Makefile.in
cgi/main/src/.deps/
cgi/main/src/Makefile
cgi/main/src/Makefile.in
cgi/main/src/cgiInterface
cgi/main/src/*.o
config.log
config.status
configure
depcomp
generic/Makefile
generic/Makefile.in
generic/common/Makefile
generic/common/Makefile.in
generic/ds/Makefile
generic/ds/Makefile.in
generic/ds/src/.deps/
generic/ds/src/Makefile
generic/ds/src/Makefile.in
generic/ds/src/gHeapMain
generic/ds/src/*.o
generic/sort/
generic/strAlgo/Makefile
generic/strAlgo/Makefile.in
generic/strAlgo/src/.deps/
generic/strAlgo/src/Makefile
generic/strAlgo/src/Makefile.in
generic/strAlgo/src/*.o
generic/strAlgo/src/*.a
generic/strAlgo/test/.deps/
generic/strAlgo/test/Makefile
generic/strAlgo/test/Makefile.in
generic/strAlgo/test/gTestString
generic/strAlgo/test/*.o
install-sh
missing
generic/common/src/.deps/
generic/common/src/*.o
generic/common/src/*.a
