#following are ignored files
COPYING
ChangeLog
INSTALL
aclocal.m4
ar-lib
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
tags
*.log
compile
configure.scan
cgi/main/src/cgiInterface
generic/ds/src/gHeapMain
generic/strAlgo/test/gTestString
generic/ds/src/gDoublyLListMain
generic/ds/src/gBinaryTreeMain
generic/common/test/gBigIntegerMain
generic/process/inc/temp
generic/process/test/messageConsumer
generic/thread_UU/test/threadMain
generic/codes/prData/cppdata/inheritence
generic/codes/prData/cppdata/msgQ
generic/codes/prData/cppdata/msgQClose
generic/codes/prData/cppdata/msgQWrite
generic/codes/prData/cppdata/msgQThread
generic/codes/prData/cppdata/t
generic/codes/prData/cppdata/d
generic/codes/prData/cppdata/u
*Makefile
*.in
*.a
*.o
*.deps
*.out
.vs
generic/codes/prData/eclipseWS/firstTest/.settings/language.settings.xml
generic/codes/prData/cppdata/.vscode
generic/codes/leetcode/DesignStrategy.txt
a.out.dSYM/Contents/Info.plist
.editorconfig
.vscode
*.dSYM
generic/filereader/GrpcFileReader/bin
generic/filereader/GrpcFileReader/obj
generic/filereader/Test/bin
generic/filereader/Test/obj
generic/genai/docassist/chroma_db
generic/genai/docassist/data
