#following are ignored files
COPYING
ChangeLog
INSTALL
aclocal.m4
ar-lib
autom4te.cache/
config.log
config.status
configure
depcomp
install-sh
missing
cgi/main/src/cgiInterface
generic/ds/src/gHeapMain
generic/strAlgo/test/gTestString
generic/ds/src/gDoublyLListMain
generic/ds/src/gBinaryTreeMain
generic/common/test/gBigIntegerMain
generic/process/inc/temp
generic/process/test/messageConsumer
generic/thread_UU/test/threadMain
generic/codes/prData/cppdata/inheritence
generic/codes/prData/cppdata/msgQ
generic/codes/prData/cppdata/msgQClose
generic/codes/prData/cppdata/msgQWrite
cgi/main/Makefile
cgi/main/src/Makefile
cgi/Makefile
cgi/lib/Makefile
cgi/lib/src/Makefile
cgi/main/Makefile
cgi/main/src/Makefile
cgi/Makefile
cgi/lib/Makefile
cgi/lib/src/Makefile
Makefile
generic/process/Makefile
generic/process/test/Makefile
generic/process/src/Makefile
generic/sort/Makefile
generic/sort/src/Makefile
generic/ds/Makefile
generic/ds/test/Makefile
generic/ds/src/Makefile
generic/strAlgo/Makefile
generic/strAlgo/test/Makefile
generic/strAlgo/src/Makefile
generic/common/Makefile
generic/common/test/Makefile
generic/common/src/Makefile
generic/thread_UU/Makefile
generic/thread_UU/test/Makefile
generic/thread_UU/src/Makefile
generic/Makefile
generic/codes/prData/openGl/lesson/Makefile
generic/codes/prData/openGl/Makefile
Makefile.in
cgi/main/Makefile.in
cgi/main/src/Makefile.in
cgi/Makefile.in
cgi/lib/Makefile.in
cgi/lib/src/Makefile.in
generic/Makefile.in
generic/process/Makefile.in
generic/process/test/Makefile.in
generic/process/src/Makefile.in
generic/sort/Makefile.in
generic/sort/src/Makefile.in
generic/ds/Makefile.in
generic/ds/test/Makefile.in
generic/ds/src/Makefile.in
generic/strAlgo/Makefile.in
generic/strAlgo/test/Makefile.in
generic/strAlgo/src/Makefile.in
generic/common/Makefile.in
generic/common/test/Makefile.in
generic/common/src/Makefile.in
generic/thread_UU/Makefile.in
generic/thread_UU/test/Makefile.in
generic/thread_UU/src/Makefile.in
cgi/lib/src/libCgi.a
generic/process/src/libGenProcess.a
generic/sort/src/libGenSort.a
generic/strAlgo/src/libGenStringAlogo.a
generic/common/src/libGenCommon.a
generic/thread_UU/src/libGenThread.a
cgi/main/src/cgimain.o
cgi/lib/src/myFirstCgi.o
generic/process/test/messageConsumer.o
generic/process/src/gThread.o
generic/process/src/gMessageQueue.o
generic/ds/src/gHeapMain.o
generic/ds/src/gBinaryTreeMain.o
generic/ds/src/gDoublyLListMain.o
generic/strAlgo/test/gTestString.o
generic/strAlgo/src/gStringPerm.o
generic/strAlgo/src/gSubstring.o
generic/common/test/gBigIntegerMain.o
generic/common/src/gBigInteger.o
generic/common/src/gString.o
generic/common/src/gCommonUtils.o
generic/thread_UU/test/threadMain.o
generic/thread_UU/src/gThread.o
cgi/main/src/.deps
cgi/lib/src/.deps
generic/process/test/.deps
generic/process/src/.deps
generic/ds/src/.deps
generic/strAlgo/test/.deps
generic/strAlgo/src/.deps
generic/common/test/.deps
generic/common/src/.deps
generic/thread_UU/test/.deps
generic/thread_UU/src/.deps
