[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
langchain = "*"
langchain-community = "*"
gpt4all = "*"
chromadb = "*"
llm = "*"
llama-index-readers-file = "*"
llama-index-llms-ollama = "*"
llama-index-embeddings-huggingface = "*"
faiss-cpu = "*"
llama-index-vector-stores-chroma = "*"

[dev-packages]

[requires]
python_version = "3.12"
